@media screen and (min-width: 641px) {
    /* ---------- HEAD ---------- */


    .page{
        min-width: 641px;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0.5rem;
    }

    /* ---------- BODY ---------- */

    /* HEADER */

    /* NAV */
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    /* MAIN */

    #places section {
        display: grid;
        grid-template-areas: 
        "name"
        "photograph description"
        "photograph address";
    }

    #places section img {
        grid-area: photograph;
        display: inline-block;
    }
    /* FOOTER */
}