/* ---------- HEAD ---------- */
/* 320px minimum screen width */

/* FONT */
/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> */

/* COLOR SCHEME */
/* Background: hex: EFECCA rgb: 239, 236, 202
Accent1: hex: 47624F rgb: rgb 71, 98, 79
Accent2: hex: 1B2437 rgb: 27, 36, 55
Hover: hex: 058ED9 rgb: 5, 142, 217 */

.page{
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
}

/* ---------- */
/* ---------- BODY ---------- */
/* ---------- */
body {
    font-family: "Roboto", serif;
    background-color: white;
}

/* ---------- */
/* HEADER */
/* ---------- */
header {
    display: flex;
    padding: 2rem;
    font-weight: 400;
    background-color: rgb(71, 98, 79, 70%);
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 60px;
    text-shadow: 4px 4px 6px #000000;
    text-align: center;
}

header img {
    border: 2px solid black;
    box-shadow: 4px 4px 8px #47624F;
}

/* ---------- */
/* NAV */
/* ---------- */
nav {
    background: rgb(71, 98, 79, 60%);
    margin: 0 auto;
    max-width: 1200px;
    max-height: 100%;
    padding: 5px;
}

.navigation a:hover {
    border: 2px solid #058ED9;
    padding: 12px
}

#menu::before {
    content: "☰";
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.navigation.show li {
    display: block;
}

#menu.show::before{
    content: "X";
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 800px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 200;
    transition: 0.5s;
}
/* ---------- */
/* MAIN */
/* ---------- */

/* WF1 */
.wf1 {
    align-items: center;
    text-align: left;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.wf1 fieldset {
    margin: 2rem 0;
    background-color: rgb(207, 212, 197, 20%);
    border: 1px solid black;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: black;
    padding: 0 .5rem;
    margin: .5rem 0;
    font-size: 20px;
    font-weight: 400;
}
.wf1 div {
    color: black;
    padding: 0 .5rem;
    margin: .5rem 0;
    font-size: 18px;
    font-weight: 350;
}

.wf1 label {
    display: block;
    padding-top: .5rem;
    font-size: 15px;
    font-weight: 300;
}

.wf1 input[type="radio"],
.wf1 input[type="checkbox"]
{
    margin-right: 6px;
}

section {
    border: 2px solid black;
    box-shadow: 4px 4px 8px #47624F;
    padding: 0.5rem;
    background-color: rgb(239, 236, 202, 40%);
    display: block;
    align-items: center;
    justify-content: center;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-size: smaller;
    font-weight: 300;
}

div {
    border: 2px solid black;
    box-shadow: 4px 4px 8px #47624F;
    padding: 0.5rem;
    background-color: rgb(239, 236, 202, 40%);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

div h3 {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    animation-duration: 2s;
    animation-name: slide-in;
    animation-direction: normal;
}

div button {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    animation-duration: 3.5s;
    animation-name: slide-in;
    animation-direction: normal;
}

#results {
    width: auto;
    padding: 10px;
    margin: auto;
}

/* ---------- */
/* FOOTER */
/* ---------- */

footer {
    display: flex;
    padding: 10px;
    font-weight: 350;
    background-color: rgb(71, 98, 79, 35%);
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    text-shadow: 2px 2px 4px white;
    text-align: center;
}